<div class="container">
  <h1><%= "#{@user.first_name} #{@user.last_name}" %>'s Profile</h1><br>
  <h3>My Personality Type: <%= link_to @personality_type, @personality_url %></h3>
  <hr />

  <div id="matches">
    <% if @matches %>

      <h3>Recommended Projects: </h3>
      <h4>These projects match with the projects you are looking for<h4>
      <% @matches.each do |match| %>
        <%= link_to match.project.name, user_project_path(@user, match.project) %><br>
      <% end %>
    <% end %>
    <hr />
  </div>

  <h3>My Projects</h3>

  <ul class="nav nav-tabs">
    <li class="active">
      <a data-toggle="tab" href="#managed-projects">Managed Projects</a>
    </li>
    <li><a data-toggle="tab" href="#projects">Projects</a></li>
  </ul>

  <div class="tab-content">
    <div id="managed-projects" class="tab-pane active">
    </div>

    <div id="projects" class="tab-pane">
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    getProjects(<%= @user.id %>)
  })
</script>
