<div id="home-wrapper">
  <div class="container">
    <div id="hero-text">
      <h1 class="montserrat">Welcome to TeamBuilder!</h1>
      <br>
      <h2 class="montserrat"><%= link_to "Sign up", new_user_registration_path %> to explore projects and connect with teammates</h2>
    </div>
  </div>
</div>
