<div class="container">
  <h1>Browse Projects</h1>

  <% @projects.each do |project| %>
    <h3><%= link_to "#{project.name}", user_project_path(project.manager_id, project) %></h3>
    <%= project.manager.first_name %>
    created: <%= project.created_at %>
    <p> <%= project.description %><br> </p>

  <% end %>

</div>
