<h1><%= @project.name %></h1>
<h3><%= @project.description %></h3>
<h3>Manager: <%= link_to "#{@project.manager.first_name} #{@project.manager.last_name}" %></h3><br>


<% if current_user == @project.manager %>
  <h4>Recommended matches:</h4>
  <% if @names == nil %>
    There are no current users that are fit for this project found.
  <% else %>
    <% @names.each do |name| %>
      <%= link_to "#{name.first_name} #{name.last_name}", project_member_path(@project, name), method: :post %>
      <% if !name.awaiting_reply(@project).empty? %>
        Requested
      <% end %><br>
    <% end %>
  <% end %>
<% end %>
