<h1><%= @project.name %></h1>
<h3><%= link_to "#{@project.manager.first_name} #{@project.manager.last_name}" %></h3><br>


<% if current_user == @project.manager %>
Recommended matches:
  <% @names.each do |name| %>
    <%= link_to "#{name.first_name} #{name.last_name}", project_member_path(@project, name)%>
  <% end %>
<% end %>
